.upcoming-heading {
  margin-top: 1rem;
  margin-bottom: .58rem;
}

.upcoming-title {
  font-size: 32px;
  line-height: 1.3;
  font-weight: 600;
  color: #1d8844;
}

.upcoming-btn {
  height: 40px;
  width: 80px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 0.2rem;
  border-radius: 0.5rem;
  color: #1d8844;
  background-color: transparent;
  border: 1px solid #1d8844;
  transition: 0.2s all ease;
}

.upcoming-btn:hover {
  background-color: #1d8844;
  transition: 0.2s all ease;
  color: white;
}

.upcoming-anime {
  width: 244.35px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.2s all ease;
  border-radius: .3rem;
}

.upcoming-anime:hover {
  box-shadow: rgba(90, 90, 90, 0.35) 0px 5px 15px;
  transition: 0.2s all ease;
}

.upcoming-anime-img {
  max-width: 244.35px;
  max-height: 347.83px;
}

.upcoming-anime-description {
  padding: 0 .5rem .5rem .5rem;
}

.upcoming-anime h5 {
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: 600;
  color: rgb(114, 114, 114);
  margin-top: .3rem;
  transition: .2s all ease;
}

.upcoming-anime h5:hover {
  color: #1d8844;
  transition: .2s all ease;
}

.upcoming-anime h6 {
  font-size: 13px;
  line-height: 1.4em;
  font-weight: 600;
  color: #9b9b9b;
  margin-top: .3rem;
}

.upcoming-anime-dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #919191;
  display: inline-block;
  margin: 3px 6px;
}

.upcoming-anime p {
  font-size: .9em;
  line-height: 1.3em;
  font-weight: 400;
  color: #797979;
  margin-top: .5rem;
}